# A full list of configurable overrides can be found at:
# https://github.com/dani-garcia/vaultwarden/blob/main/.env.template

# Listening address
ROCKET_ADDRESS=127.0.0.1

# Listening port
ROCKET_PORT=8000

# Custom domain
#DOMAIN=https://vault.example.com

# HTTPS support
#ROCKET_TLS={certs="/var/snap/vaultwarden/current/ssl/certs.pem",key="/var/snap/vaultwarden/current/ssl/key.pem"}

# External SQL database
# Set address, port and credentials to match your setup
# If using PostgreSQL, replace mysql:// with postgresql://
#DATABASE_URL=mysql://vaultwarden_user:P@$$w0rd@127.0.0.1:3306/vaultwarden_db

# Allow new users to register
#SIGNUPS_ALLOWED=true

# SMTP settings
#SMTP_HOST=smtp.example.com
#SMTP_FROM=vaultwarden@example.com
#SMTP_FROM_NAME=Vaultwarden
#SMTP_SECURITY=starttls
#SMTP_PORT=587
#SMTP_USERNAME=username
#SMTP_PASSWORD=password
